[Desktop Entry]
Version=1.0
Name=Script Installer Application
Name[tr]=Paket Yükleme Uygulaması
Type=Application
Comment=Simple Qt based Script Installer Application
Comment[tr]=Basit Qt tabanlı Paket Yükleme Uygulaması
Terminal=false
Exec=/usr/bin/betikyukleyici
Icon=/usr/share/betikyukleyici/betikyukleyici.svg
Categories=Qt;Utility;
Keywords=package;paket;
GenericName=betikyukleyici
