Package: betikyukleyici-dbgsym
Source: betikyukleyici
Version: 1.8.5
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 41
Depends: betikyukleyici (= 1.8.5)
Section: debug
Priority: optional
Description: debug symbols for betikyukleyici
Build-Ids: 78191f65ed8ab2ef56abfa2905c7b43710878044
