Package: betikyukleyici-dbgsym
Source: betikyukleyici
Version: 1.8.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 44
Depends: betikyukleyici (= 1.8.0)
Section: debug
Priority: optional
Description: debug symbols for betikyukleyici
Build-Ids: 1bb1793c6675e57480c788500627c0822cd3a2d7
