Package: tinyinstaller-dbgsym
Source: tinyinstaller
Version: 1.0.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 753
Depends: tinyinstaller (= 1.0.0)
Section: debug
Priority: optional
Description: debug symbols for tinyinstaller
Build-Ids: a70a1e3ffa88cac693999e291947d39ff01d22e3
