Package: tinyinstaller-dbgsym
Source: tinyinstaller
Version: 1.1.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 626
Depends: tinyinstaller (= 1.1.0)
Section: debug
Priority: optional
Description: debug symbols for tinyinstaller
Build-Ids: 63849ae53cf4802f311210cfd4a6e8af16ba38d7
